body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

::selection {
  color: #add8e6;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

::-webkit-scrollbar-thumb:hover {
  background: #add8e6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}